server:
  port: 8888
  
socketio:
  host: 127.0.0.1
  port: 51888
  

#true 使用真实账户交易
#false 使用模拟账户交易
account.useReal: true

#BlockingWaitStrategy 低效 低CPU
#SleepingWaitStrategy 对生产者影响较小
#YieldingWaitStrategy 高性能 ,适当CPU占用，建议开启BIOS超线程
#BusySpinWaitStrategy 高性能,高CPU占用,需要CPU实际物理核心数量高于FastEventDynamicHandler数量。建议最低使用多核物理机,关闭BIOS超线程!
event.engine.strategy: BlockingWaitStrategy
  

ctp:
  gatewayImplClassName: tech.xuanwu.northstar.gateway.ctp.x64v6v3v15v.CtpGatewayImpl
  gatewayID: CTP-SimNow724
  gatewayName: CTP-SimNow724
  mdHost: 180.168.146.187
  mdPort: 10131
  tdHost: 180.168.146.187
  tdPort: 10130
  userID: ********
  password: ********
  appID: northstar-demo
  userProductInfo: northstar-demo
  authCode: "0000000000000000"
  brokerID: 9999